<div ng-controller="mapboxController">
    <div id='map' class='mapbox' ></div>
    <div class="map-buttons">
        <button ng-if="currentDrawingMode==='segment'" ng-click="onSaveSegment()">Save</button>
        <button ng-if="currentDrawingMode==='polygon'" ng-click="onSavePolygon()">Save</button>
        <button ng-click="onCancelSegment()">Cancel</button>
        <select ng-change="onCancelSegment()" ng-model="currentDrawingMode">
            <option ng-repeat="mode in drawingModes" value="{{mode}}">{{mode}}</option>
        </select>
        <button ng-if="currentDrawingMode==='polygon'" ng-click="onDrawPolygon()">Draw polygon</button>
        <button ng-click="backup()">Backup</button>
        <select ng-change="restore()" ng-model="currentBackupInfo">
            <option ng-repeat="backup in backupInfos" value="{{backup}}">{{backup.filename}}</option>
        </select>
        <input type="date" ng-model="backupDate">
        <button type="button" ng-click="filterByDate()">filter</button>
        <div>
            <p ng-repeat="data in info">{{data}}</p>
        </div>
        <button ng-click="changeLayer()">Change style</button>
    </div>
</div>