<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mapbox</title>
    <link th:href="@{https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css}" rel='stylesheet' />
    <link th:href="@{/css/styles.css}" rel='stylesheet' />
</head>
<body ng-app="app">
    <div ng-view></div>

    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.0/angular-route.min.js}"></script>
    <script th:src="@{https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js}"></script>
    <script th:src="@{/js/config.js}"></script>
    <script th:src="@{/js/services/mapbox-service.js}"></script>
    <script th:src="@{/js/services/segment-service.js}"></script>
    <script th:src="@{/js/services/polygon-service.js}"></script>
    <script th:src="@{/js/services/backup-info-service.js}"></script>
    <script th:src="@{/js/controllers/mapbox-controller.js}"></script>
</body>
</html>